;; This file is a configuration file for goku to generate the configuration file
;; for Karabiner-Elements.
;;
;; The EDN format allows for a _very_ concise and flexible configuration of Karabiner.
;;
;; There are several main guidances that this configuration follows:
;;  - Keep both hands engaged in typing i.e. opposing hands should be engaged equally.
;;  - Reduce the strain on the pinky fingers by keeping their "active areas" to a minimum.
;;  - Ensure that the wrists are in a neutral position as much as possible.
;;  - Make the custom rules and mappings as agnostic as possible to the resulting actions.
;;  - Engage the thumbs more in typing.
;;  - Don't go crazy with remapping => add only essential ergonomic improvements.
;;
;; Below is a brief reference for the to/from mappings:
;;  !  | means mandatory
;;  #  | means optional
;;  C  | left_command
;;  T  | left_control
;;  O  | left_option
;;  S  | left_shift
;;  F  | fn
;;  Q  | right_command
;;  W  | right_control
;;  E  | right_option
;;  R  | right_shift
;;  P  | caps_lock
;;  !! | mandatory command + control + optional + shift (hyper)
;;  ## | optional any
{:templates {:open "open -a \"%s\""
             :open-chrome-profile "open -a \"Google Chrome\" --args --profile-directory=\"%s\""}

 :main [{:des "Convenient Spacebar"
         ; This modification makes the spacebar more useful by turning it
         ; into the Left Shift when it's held down and used in combination
         ; with other keys.
         ; When the spacebar is tapped, it acts as the regular Spacebar.
         ; Although this modification doesn't follow the "best practices"
         ; of typig techniques, it's very convenient and comfortable.
         :rules [[:##spacebar :left_shift nil {:alone :spacebar}]]}

        {:des "Mirror Control & Easy Escape"
         ; This modification does several things:
         ;  - Caps Lock is turned into the Left Control when held down.
         ;  - Caps Lock is turned into the Escape when tapped.
         ;  - Quote (') is turned into the Right Control when held down.
         ; These rules first and foremost make both the Control and Escape
         ; more accessible and comfortable to use. Secondly, the modification
         ; fixes the issue of the Control key on MacOs being asymmetrical i.e.
         ; only available on the left side of the keyboard.
         :rules [[:#C#O#Scaps_lock :left_control nil {:alone :escape}]
                 [:#Q#E#Rquote :right_control nil {:alone :quote}]]}

        {:des "Right Command Layer - Navigation & Actions",
         ; This "layer" is activated by holding Right Command and using the keys
         ; that are supposed to be used with the right hand with the correct
         ; typing technique.
         ; This layer provides 3 main functionalities:
         ;  - Better access to function keys (F6-F12).
         ;  - Comfortable Fn, Return, and (Forward) Delete keys.
         ;  - Comfortable navigation over text.
         ; All of the functionalities above are grouped by "levels" of keys in
         ; relation to the home row.
         ; Additionally, most of the rules allow only the left modifiers as they
         ; are triggered by the opposing hand, and this is in the accordance
         ; with the "correct" typing technique.
         :rules [; Function keys => 6/7/8/9/0/-/= to F6/F7/F8/F9/F10/F11/F12.
                 [:!Q#C#T#O#S6 :f6]
                 [:!Q#C#T#O#S7 :f7]
                 [:!Q#C#T#O#S8 :f8]
                 [:!Q#C#T#O#S9 :f9]
                 [:!Q#C#T#O#S0 :f10]
                 [:!Q#C#T#O#Shyphen :f11]
                 [:!Q#C#T#O#Sequal_sign :f12]
                 ; Convenient common keys => Y/U/I/O to Fn/Return/Delete/Forward Delete.
                 [:!Q#C#T#O#Sy :fn]
                 [:!Q#C#T#O#Su :return_or_enter]
                 [:!Q#C#T#O#Si :delete_or_backspace]
                 [:!Q#C#T#O#Si :delete_forward]
                 ; Text navigation => H/J/K/L to Left/Down/Up/Right.
                 [:!Q#C#T#O#Sh :left_arrow]
                 [:!Q#C#T#O#Sj :down_arrow]
                 [:!Q#C#T#O#Sk :up_arrow]
                 [:!Q#C#T#O#Sl :right_arrow]
                 [:!Q#C#T#O#Sn :fn]]}

        {:des "Left Command Layer - Applications"
         ; This layer is activated by holding Left Option and using the keys
         ; that are supposed to be used with the left hand with the correct
         ; typing technique.
         ; This layer provides 2 main functionalities:
         ;  - Better access to function keys (F1-F5).
         ;  - Quick-switching between most commonly used applications.
         :rules [; Function keys => 6/7/8/9/0/-/= to F6/F7/F8/F9/F10/F11/F12.
                 [:!C#Q#W#E#R1 :f1]
                 [:!C#Q#W#E#R2 :f2]
                 [:!C#Q#W#E#R3 :f3]
                 [:!C#Q#W#E#R4 :f4]
                 [:!C#Q#W#E#R5 :f5]
                 ; General applications.
                 [:!Cb [:open "Obsidian"]] ; Second-[b]rain.
                 [:!Cf [:open "Finder"]] ; [F]inder.
                 [:!Cg [:open "Google Chrome"]] ; [G]oogle Chrome.
                 [:!Cr [:open "Reader"]] ; [R]eader.
                 ; Coding-related applications.
                 [:!Ca [:open "Alacritty"]] ; [A]lacritty.
                 [:!Cc [:open "IntelliJ IDEA.app"]] ; [C]ode.
                 [:!Cd [:open "Docker Desktop"]] ; [D]ocker.
                 ; Communication applications.
                 [:!Cs [:open "Slack"]] ; [S]lack.
                 [:!Ct [:open "Telegram"]] ; [T]elegram.
                 [:!Cw [:open "Microsoft Teams"]] ; [W]ork messanger.
                 [:!Cz [:open "zoom.us"]] ; [Z]oom.
                 ; Productivity applications.
                 [:!Ce [:open "Mail"]] ; [E]-mail.
                 [:!Cv [:open "Calendar"]] ; [V]iew agenda.
                 [:!Cx [:open "Reminders"]] ; E[x]ecute tasks.
                 ]}]}
